<div id="container">
    <h1>CONTACTOS</h1>
    <button id="agregar">+</button>
    <button id="buscar"><img src= "./../assets/iconos/magnifying-glass-solid.svg"> </button>
  </div>
  
  <div id="tarjeta">
  
  </div>
  
  <div id="tarjeta1">
  
  </div>
  
  <div id="tarjeta2">
  
  </div>
  
  <div id="tarjeta3">
  
  </div>
  
  <div id="tarjeta4">
  
  </div>
  
  <div id="tarjeta5">
  
  </div>
  
  <div id="tarjeta6">
  
  </div>
  
  <div id="tarjeta7">
  
  </div>
  
  <div id="tarjeta8">
  
  </div>
  
  <div id="tarjeta9">
  
  </div>
  
  <div id="tarjeta10">
  
  </div>